<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>117304545071-0jq19nbpjtp98vcttb3j2vdjg2oaj6up.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.117304545071-0jq19nbpjtp98vcttb3j2vdjg2oaj6up</string>
	<key>API_KEY</key>
	<string>AIzaSyARBBpGxKa0X8-Ms83W1VZjpBi6kdTwCMM</string>
	<key>GCM_SENDER_ID</key>
	<string>117304545071</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.mobileapp</string>
	<key>PROJECT_ID</key>
	<string>spa-for-muscular-activity</string>
	<key>STORAGE_BUCKET</key>
	<string>spa-for-muscular-activity.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:117304545071:ios:43eed0f5d10a6297de5bda</string>
</dict>
</plist>